* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Dark-Blue-intro-email: hsl(217, 28%, 15%);
  --Dark-Blue-main: hsl(218, 28%, 13%);
  --Dark-Blue-footer: hsl(216, 53%, 9%);
  --Dark-Blue-testimonials: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --Light-Red: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}
html {
  font-size: 20px;
}
@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--Dark-Blue-main);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  color: #eee;
  font-size: .85rem;
  padding: 1.2em 0;
}
header,
main,
footer {
  max-width: 1440px;
  margin: auto;
}
.nav-bar,
section,
footer {
  padding: 5%;
}
/* header style */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Raleway', sans-serif;
  transition: .2s;
  z-index: 9999;
}
.nav-bar,
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 6.5rem;
}
.nav-links {
  width: 20%;
}
.nav-link {
  color: #ccc;
  font-size: .65rem;
  transition: .1s;
}
.nav-link.active {
  color: var(--White);
  padding: .3em .5em !important;
  border-radius: 1rem;
  transition: .1s;
  background: linear-gradient(to top right, var(--Cyan), var(--Blue));
}
.nav-link:hover {
  color: var(--White);
  text-decoration: underline;
}
@media (max-width: 768px) {
  .logo img {
  width: 4rem;
}
  .nav-links {
    width: 50%;
  }
  .nav-link.active {
    padding: .25em .75em;
  }
}

/* introduction style */
.introduction-sect {
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
}
.introduction-img {
  width: 100% !important;
}
.introduction-title {
  color: var(--White);
  font-size: 1.75rem; 
  font-family: 'Raleway', sans-serif;
  padding-top: 1.2rem;
}
.btn-ctc {
  color: var(--White);
  font-size: .8rem;
  font-weight: 700;
  display: inline-block;
  padding: .9em 5.4em;
  background: linear-gradient(to top right, var(--Cyan), var(--Blue));
  border-radius: 3rem;
}
@media (max-width: 768px) {
  .introduction-sect {
    width: 100%;
  }
}
/* about style */
.about-sect {
  width: 75%;
  margin: auto;
  display: grid;
  gap: 2.2rem;
  grid-template-columns: 1fr 1fr;
}
.about-part {
  text-align: center;
}
.about-part h2 {
  color: var(--White);
  font-size: 1.2rem; 
  font-family: 'Raleway', sans-serif;
  padding-top: 1.2em;
}
.about-part p {
  padding-top: .6em;
}
@media (max-width: 768px) {
  .about-sect {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
/* work stle */
.work-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-img {
  width: 100%;
}
.work-txt {
  padding-left: 7.6vmax;
}
.work-txt h3 {
  color: var(--White);
  font-size: 1.4rem; 
  font-family: 'Raleway', sans-serif;
}
.work-txt p {
  padding: 1.2em 0 0 0;
}
.btn-work {
  width: max-content;
  display: flex;
  align-items: center;
  padding-bottom: .3em;
  margin-top: 1.2em;
  cursor: pointer;
  border-bottom: .1rem solid var(--Cyan);
}
.btn-work a {
  color: var(--Cyan);
  font-size: .75rem;
  letter-spacing: .7px;
  padding-right: .3em;
}
@media (min-width: 768px) {
  .work-sect img { width: 50%; }
}
@media (max-width: 768px) {
  .work-sect {
    flex-direction: column;
  }
  .work-txt {
    padding-left: 0;
  }
}
/* testimonial style */
.testimo-sect {
  display: flex;
  padding: 10%;
  padding-bottom: 10rem;
  gap: 1.2rem;
}
.testimo-box {
  display: grid;
  grid-template-areas: 'txt txt txt txt txt txt txt txt'
                       'img name name name name name name name'
                       'img job job job job job job job';
  padding: 1em;
  border-radius: .4rem;
  background: var(--Dark-Blue-testimonials);
}
.testimo-box:first-child {
  position: relative;
}
.testimo-box:first-child::before {
  content: '';
  width: 1.4rem;
  height: 2rem;
  position: absolute;
  top: -1rem;
  left: 2%;
  background: url('img/bg-quotes.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.testimo-txt {
  grid-area: txt;
  font-size: .6rem;
  line-height: 1.6;
  letter-spacing: .62px;
}
.profile-img {
  grid-area: img;
  align-self: center;
  width: 1.75rem;
  border-radius: 1rem;
}
.name-txt {
  width: 100%;
  grid-area: name;
  align-self: end !important;
  color: var(--White);
  font-size: .75rem;
  letter-spacing: .8px;
}
.job-title {
  grid-area: job;
  align-self: sart !important;
  font-size: .5rem;
}
@media (max-width: 768px) {
  .testimo-sect { 
    flex-direction: column; 
    padding-bottom: 18rem;
  }
}
/* footer style */
footer { 
  padding-top: 8em;
  position: relative;
  background: var(--Dark-Blue-footer);
}
.footer-form {
  width: 65%;
  padding: 1.4em;
  text-align: center;
  border-radius: .4rem;
  margin: auto;
  position: absolute;
  top: -50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform: translate(-50%, 40%);
  background: var(--Dark-Blue-intro-email);
}

.footer-form h3 {
  color: var(--White);
  font-size: 1.4rem; 
  font-family: 'Raleway', sans-serif;
}
.input-contain {
  display: flex;
  justify-content: space-between;
  gap: 1.225rem;
  position: relative;
}
.input-email,
.btn-submit {
  border: none;
  outline: none;
  padding: .75rem 1.85rem;
  border-radius: 1.75rem;
}
.txt-error {
  color: var(--Light-Red);
  position: absolute;
  left: 1.85rem;
  bottom: -50%;
  opacity: 0;
  transition: .2s;
}
.txt-error.active {
  bottom: -100%;
  opacity: 1;
}
.input-email {
  width: 60%;
  font-size: .65rem;
  z-index: 2;
}
.input-email::placeholder { color: #acacac; }
.btn-submit {
  color: var(--White);
  font-size: .6rem;
  font-weight: 700;
  display: inline;
  background: linear-gradient(to top right, var(--Cyan), var(--Blue));
}
.foot-logo {
  display: inline-block;
}
.footer-sect :is(.footer-contain, .foot-part-1, .foot-part-2 li, .foot-part-5) {
  display: flex;
  justify-content: space-between;
}
.footer-contain :is(p, a) {
  color: #eee;
  font-size: .75rem;
}
.footer-contain {
  gap: 1.76rem;
}
.footer-contain img {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}
.foot-part-1 img {
  align-self: center !important;
}
.foot-part-2 li {
  align-items: center;
}
.foot-part-5 {
  justify-content: center !important;
  gap: .75rem;
}
.foot-part-5 li {
  width: 2em;
  height: 2em;
  display: flex;
  border-radius: 2rem;
  border: .1rem solid #eee;
}
.foot-part-5 a {
  font-size: 1rem;
  margin: auto;
}
@media (max-width: 768px) {
  :is(.input-contain, .footer-contain) { flex-direction: column; }
  .footer-form { width: 90%; }
  .input-email { width: 100%; }
}

@media (min-width: 768px) {
  p { font-size: .75rem !important; }
}
